body, html{
	height: 100%;
	width: 100%;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'helvetica', sans-serif;
}


/*grid layout, sizing, and padding*/

// ungrid
@media (min-width: 30em) {.row { width: 100%; display: table; table-layout: fixed; } .col { display: table-cell; } }
// spacing b/t cols?
.row { border-spacing: 15px 0; }

.container{
	max-width: 1000px;
	margin: 0 auto;
}
.col{
	outline: 1px solid red;
	text-align: center;
	vertical-align: text-top;
}

//tests

.d1, .d2, .d3, .d4, .d5{
  font-family:sans-serif;
  font-weight:100;
  //border-top: 5px solid #C65C2A;
  background: #C65C2A;
  border-left: 5px solid #D36531;
  width: 100%;
  height: 400px;
  overflow: hidden;
  z-index:1;
  box-sizing: border-box;
  transition:0.5s border-width;
}

.d2, .d3, .d4, .d5{
  //border-top: 5px solid #F65C51;
  background: #F65C51;
  border-left: 5px solid #F27168;
  z-index:2;
}

.d3{
  //border-top: 5px solid #ADBFC6;
  background: #ADBFC6;
  border-left: 5px solid #CAD6DB;
  z-index:3;
}

.d4{
  //border-top: 5px solid #1C7197;
  background: #1C7197;
  border-left: 5px solid #28789B;
  z-index:4;
}

.d5{
  //border-top: 5px solid #0F4B66;
  background: #0F4B66;
  border-left: 5px solid #18536E;
  z-index:5;
}

p{
  text-align:center;
  margin-top:20px;
}
